.hwContainer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  padding: 5px 0;
  gap: 10px;
}
.hwContainer > p {
  align-self: center;
}
// import s from '../../p1-main/m1-ui/u1-app/App.module.scss'
