.message__container {
	background: #a8e700;
	width: 300px;
	min-height: 65px;
}
.message {
	padding: 5px 5px 5px 10px;
	display: flex;
}
.message_pic {
	width: 50px;
	height: 50px;
	margin: 0 15px 0 5px;
	align-self: flex-end;
}
.message_img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.message_block {
	padding: 10px 15px;
	background: #002200;
	display: flex;
	flex: 0 1 100%;
	border-radius: 5px;
	justify-content: space-between;
	column-gap: 15px;
}
.message_pic::before {
	content: "";
	position: absolute;
	background: #002200;
	width: 20px;
	height: 9px;
	transform: translate(55px, 41px);
}
.message_pic::after {
	content: "";
	position: absolute;
	background: #a8e700;
	width: 18px;
	height: 18px;
	border-radius: 30px;
	transform: translate(-3px, 32px);
}
.message_userName {
	font-weight: 600;
	color: #998fc2;
}
.message_userMessage {
	color: white;
	word-break: break-all;
}
.message_time {
	color: rgba(255, 255, 255, 0.398);
	align-self: flex-end;
	margin: 0 0 -5px 0;
}
