.affair {
	width: 200px;
	display: flex;
	margin: 0px 0px 10px 0px;
}
.sort_Buttons {
	max-width: 200px;
	display: flex;
	justify-content: space-between;
}
.priority {
	text-align: center;
	align-items: center;
	justify-self: center;
}
.name {
	flex: 1 1 auto;
}
.del_button {
	margin: 0px 0px 0px 10px;
}
.block_hw2 {
	margin: 0px 0px 0px 10px;
}
