.affair {
	width: 200px;
	display: flex;
	margin: 0px 0px 10px 0px;
}
.sort_Buttons {
	max-width: 200px;
	display: flex;
	justify-content: space-between;
}
.sort_Buttons > * {
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px white, inset -3px -4px 3px #cccfd4;
	cursor: pointer;
}
.sort_Buttons > *:hover {
	background: #a9acafa4;
	box-shadow: inset 3px 4px 7px white, inset -3px -4px 7px white;
}
.priority {
	text-align: center;
	align-items: center;
	justify-self: center;
}
.name {
	flex: 1 1 auto;
}
.del_button {
	margin: 0px 0px 0px 10px;
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px white, inset -3px -4px 3px #cccfd4;
	cursor: pointer;
}
.del_button:hover {
	background: #a9acafa4;
	box-shadow: inset 3px 4px 7px white, inset -3px -4px 7px white;
}
.block_hw2 {
	margin: 0px 0px 0px 10px;
	background: #eaedf2;
}
