.default {
  background: #eaedf2;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  color: #5e5a57;
  outline: none;
  caret-color: #5e5a57;
  border-radius: 13px;
  box-shadow: inset 3px 4px 7px white, inset -3px -4px 3px #cccfd4;
  cursor: pointer;
  &:active {
    box-shadow: inset 3px 4px 7px #cccfd4, inset -3px -4px 3px white;
  }
  &:focus-visible {
    outline: #5e5a57 1px solid;
  }
}
.disabled {
  background: #cccfd4;
  box-shadow: none;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  color: #5e5a57;
  outline: none;
  caret-color: #5e5a57;
  border-radius: 13px;
  cursor: inherit;
}
