@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
body {
	margin: 0;
	background: #EAEDF2;
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
