.someClass {
	display: inline-block;
	height: 20px;
	max-width: 200px;
	line-height: 20px;
	margin: 5px 0px 0px 0px;
	color: red;
	border-radius: 5px;
}

.error {
	box-shadow: inset 3px 4px 7px #d3acac, inset -3px -4px 3px white;
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	height: 20px;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	margin: 0px 0px 10px 0px;
}

input {
	outline: none;
}
.nonstyle {
	background: #eaedf2;
	border: none;
	padding: 7px 10px;
	font-size: 14px;
	color: #5e5a57;
	height: 20px;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px #acd3bd, inset -3px -4px 3px white;
	margin: 0px 0px 10px 0px;
}
.block_container {
	display: flex;
	gap: 10px;
}
.block {
	display: flex;
	flex-direction: column;
}
.asd {
	padding: 10px 0px 0px 10px;
	background: #eaedf2;
}
button {
	background: #eaedf2;
	border: none;
	padding: 5px 10px;
	font-size: 14px;
	color: #5e5a57;
	outline: none;
	caret-color: #5e5a57;
	border-radius: 13px;
	box-shadow: inset 3px 4px 7px white, inset -3px -4px 3px #cccfd4;
	margin: 0px 0px 10px 0px;
	cursor: pointer;
}
